{% extends "base.html" %}


{% block pagecontent %}
    <h2>Choose to which unit you want to convert seconds: milliseconds, microseconds, nanoseconds or picoseconds</h2>
    <form method="POST">
        <div class="col">
            <input type="text" name="enota" class="form-control" placeholder="Type which unit">
        </div>

        <div class="col">
            <input type="number" name="stevilo" class="form-control" placeholder="Enter how many seconds">
        </div>
    <button type="submit" class="btn btn-dark">Submit</button>
    </form>

    {% if not none %}
        <h1>{{ stevilo }} seconds  is {{ answer }} {{ enota }}</h1>
    {% end if %}

{% endblock pagecontent %}