{% extends "base.html" %}

 {% block header %}
  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Converter</h1>
          <p class="lead mb-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus ab labore provident mollitia. Id assumenda voluptate earum corporis facere quibusdam quisquam iste ipsa cumque unde nisi, totam quas ipsam.</p>
        </div>
      </div>
    </div>
  </header>
  {% endblock header %}


{% block pagecontent %}
    <div style="margin-left: 13%;">
    <h3>1. Choose to which unit you want to convert meters: <br>
        miles, yards, foots</h3>
    <form method="POST">
        <div style="width: 30%;" class="col">
            <input type="text" name="enota" class="form-control" placeholder="Type which unit">
        </div>

        <div style="width: 30%;" class="col">
            <input type="number" name="stevilo" class="form-control" placeholder="Enter how many meters">
        </div>
    <button style="margin-left: 1%; margin-top: 1%;" type="submit" class="btn btn-dark">Submit</button>
    </form>

        {% if uganil %}
            <h1>{{ stevilo }} meters  is {{ answer }} {{ enota }}</h1>
        {% else %}
            <h1>  </h1>
        {% endif %}
    </div>


{% endblock pagecontent %}