<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit your profile</h1>

<form method="post">
    <h1>Pozdravljeni</h1>

    <form method="post">
        <h3>email: </h3>
    <input name="email" value="{{ user.email }}">
        <h3>name: </h3>
    <input name="name" value="{{ user.name }}">
        <h3>lastname: </h3>
    <input name="lastname" value="{{ user.lastname }}">

    <input type="submit">
</form>

</body>
</html>