<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Your profile</h1>

    <p><strong>Your name:</strong> {{ user.name }}</p>
    <p><strong>Your lastname:</strong> {{ user.lastname }}</p>
    <p><strong>Your email:</strong> {{ user.email }}</p>

    <a href="edit">Edit</a>
    <br>
    <a href="password">Change password</a>

    <form method="post" action="delete">
    <input type="submit" value="Izbriši uporabnika">
</form>
</body>
</html>